/*mixin*/
/*mixin*/
* {
  margin-left: 0;
  font-family: poppins;
}

.container {
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  padding: 72px 80px;
}
.container .bg-cofe {
  width: 600px;
  position: absolute;
  color: white;
}

.content-left {
  position: relative;
  padding-left: 80px;
  padding-bottom: 60px;
  padding-top: 0px;
}
.content-left img {
  width: 310px;
}

/*content right*/
.content-right {
  position: relative;
  padding-left: 50px;
  padding-right: 70px;
}
.content-right .title {
  font-size: 40px;
}
.content-right .title p {
  font-size: 10px;
}
.content-right .title span {
  -webkit-text-decoration: underline yellow 5px;
          text-decoration: underline yellow 5px;
}
.content-right .title2 {
  font-size: 20px;
}

.order-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap: 9px;
  padding: 12px 24px;
  border-radius: 40px;
  background-color: rgb(147, 71, 5);
  color: gold;
}

.content-right {
  width: 400px;
}
.content-right .high-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/*setion2*/
.for {
  -webkit-text-decoration: underline yellow 5px;
          text-decoration: underline yellow 5px;
}

.container2 {
  display: flex;
  justify-content: space-between;
  padding: 72px 80px;
}

.left {
  margin-left: 0;
  border: solid black 1px;
  border-radius: 5%;
  box-shadow: 3px 3px 3px 3px black;
}
.left .produk {
  font-size: 15px;
  margin: 10px;
}
.left .produk .card {
  border: solid 1px black;
  width: 80px;
  background: white;
  border-radius: 40px;
  position: absolute;
  top: 1px;
  margin-top: 840px;
  margin-left: 10px;
}
.left .produk .card p {
  float: left;
  margin-left: 10px;
}
.left .produk .card i {
  color: goldenrod;
}
.left .produk img {
  width: 400px;
  border-radius: 10%;
}
.left .produk .menu span {
  float: right;
  padding-right: 40px;
}
.left .produk .menu .des {
  float: left;
  font-size: 20px;
  padding-right: 50px;
}
.left .produk .menu .cart {
  padding-right: 40px;
  float: right;
  color: yellow;
}

.center {
  margin-left: 50px;
  margin-right: 50px;
  border: solid black 1px;
  border-radius: 5%;
  box-shadow: 3px 3px 3px 3px black;
}
.center .produk {
  font-size: 15px;
  margin: 10px;
}
.center .produk .card {
  border: solid 1px black;
  width: 80px;
  background: white;
  border-radius: 40px;
  position: absolute;
  top: 1px;
  margin-top: 840px;
  margin-left: 10px;
}
.center .produk .card p {
  float: left;
  margin-left: 10px;
}
.center .produk .card i {
  color: goldenrod;
}
.center .produk img {
  width: 400px;
  border-radius: 10%;
}
.center .produk .menu span {
  float: right;
  padding-right: 40px;
}
.center .produk .menu .des {
  float: left;
  font-size: 20px;
  padding-right: 50px;
}
.center .produk .menu .cart {
  padding-right: 40px;
  float: right;
  color: yellow;
}

.right {
  margin-right: 300px;
  border: solid black 1px;
  border-radius: 5%;
  box-shadow: 3px 3px 3px 3px black;
}
.right .produk {
  font-size: 15px;
  margin: 10px;
}
.right .produk .card {
  border: solid 1px black;
  width: 80px;
  background: white;
  border-radius: 40px;
  position: absolute;
  top: 1px;
  margin-top: 840px;
  margin-left: 10px;
}
.right .produk .card p {
  float: left;
  margin-left: 10px;
}
.right .produk .card i {
  color: goldenrod;
}
.right .produk img {
  width: 400px;
  border-radius: 10%;
}
.right .produk .menu span {
  float: right;
  padding-right: 40px;
}
.right .produk .menu .des {
  float: left;
  font-size: 20px;
  padding-right: 50px;
}
.right .produk .menu .cart {
  padding-right: 40px;
  float: right;
  color: yellow;
}/*# sourceMappingURL=style.css.map */